<div class="control-group">
    <label class="control-label" for="txtName">Prize Name</label>
    <div class="controls">
        <input id="txtName" name="txtName" type="text" placeholder="Prize Name" class="input-small" ng-model="prize.name">

    </div>
</div>

<div class="control-group">
    <label class="control-label" for="txtDescription">Prize Description</label>
    <div class="controls">
        <textarea class="form-control" rows="3" ng-model="prize.description"></textarea>

    </div>
</div>

<div class="control-group">
    <label class="control-label" for="intValue">Value</label>
    <div class="controls">
        <input id="intValue" name="intValue" type="text" placeholder="Prize Value" class="input-medium" ng-model="prize.value">

    </div>
</div>

<div class="control-group">
    <label class="control-label" for="txtSponsor">Value</label>
    <div class="controls">
        <input id="intValue" name="txtSponsor" type="text" placeholder="Prize Sponsor" class="input-medium" ng-model="prize.sponsor">

    </div>
</div>
