<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <authentication mode="Forms">
      <forms>
        <credentials passwordFormat="Clear">
          <user name="abc" password="123"/>
        </credentials>
      </forms>
    </authentication>
    <!-- Unless specified in a sub-folder's Web.config file, 
             any user can access any resource in the site -->
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule"/>
      <remove name="UrlAuthorization"/>
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"/>
    </modules>
  </system.webServer>
</configuration>