
<div class="control-group">
    <label class="control-label" for="txtfn">First Name</label>
    <div class="controls">
        <input id="txtfn" name="txtfn" type="text" placeholder="First Name" class="input-small" ng-model="member.firstName">

    </div>
</div>

<div class="control-group">
    <label class="control-label" for="txtln">Last Name</label>
    <div class="controls">
        <input id="txtln" name="txtln" type="text" placeholder="Last Name" class="input-small" ng-model="member.lastName">

    </div>
</div>

<div class="control-group">
    <label class="control-label" for="txtem">Email</label>
    <div class="controls">
        <input id="txtem" name="txtem" type="text" placeholder="Email Address" class="input-medium" ng-model="member.email">

    </div>
</div>
