<div class="panel panel-default" ng-controller="SetupEventsCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">Manage Events</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-1 col-md-offset-11">
            <button type="button" class="btn btn-success btn-sm" ng-click="addEvent()"><span class="glyphicon glyphicon-plus"></span> Add</button>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Event Topic</th>
                        <th>Speaker</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in events">
                        <td>{{event.date}}</td>
                        <td>{{event.topic}}</td>
                        <td>{{event.speaker}}</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="editEvent(events[$index])"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" ng-click="deleteEvent(events[$index])"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>