
<div class="row">
    <div class="col-md-10">
        <h3>Raffle for {{currentEvent.topic}}</h3>
    </div>
    <div class="col-md-2" style="text-align: right">
        <div class="btn-group" style="text-align:left ">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#">End Raffle</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <!--<div class="col-md-9" ng-show="showRaffle()">-->
    <div class="col-md-12">
        <!--<span ng-hide="canDraw()">-->
        <div class="row" ng-hide="isEmpty(currentEvent.currentWinner)">
            <div class="col-md-9">
                <h3>
                    Congratulations, {{currentEvent.currentWinner.firstName}} {{currentEvent.currentWinner.lastName}}, select a prize!
                </h3>
            </div>
            <div class="col-md-3 winner-options">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-click="passWin()">Pass</button>
                    <button type="button" class="btn btn-info" ng-click="donateWin()">Donate</button>
                </div>
            </div>
        </div>
        <h3 ng-show="hasError">{{errorMessage}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-10 text-right">
        <p>
            <button type="button" class="btn btn-xl btn-success" ng-model="eventInputDisplay" ng-click="drawWinner()" ng-show="canDraw()">Draw Ticket!</button>
        </p>
    </div>
</div>

<div class="row">


    <!--<div class="col-md-3">
        <div class="btn-group">
            <label class="btn btn-sm btn-default" ng-model="eventInputDisplay" ng-click="eventInputDisplay = !eventInputDisplay">Change Event</label>
        </div>

        <ul class="list-group storedMeetings" ng-hide="eventInputDisplay">
            <li class="list-group-item dropdown" ng-repeat="event in events" ng-click="selectEvent(event)">
                {{event.topic}}
                <br />{{event.date}} - {{event.speaker}}
            </li>
        </ul>

    </div>-->


    <div class="attendees col-md-12">
        <div class="row">
            <!-- Winners - Begin -->
            <div class="col-md-5">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Winners</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group members">
                            <li class="list-group-item" ng-repeat="winner in currentEvent.winners">
                                {{winner.firstName}} {{winner.lastName}}
                                <br />{{winner.prize.name}}

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Winners - End -->
            <!-- Prizes - Begin -->
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Remaining Prizes</h3>
                    </div>
                    <div class="panel-body">

                        <ul class="list-group">
                            <li class="list-group-item col-md-6" ng-repeat="prize in (currentEvent.prizes | filter:hasWinner(false))" ng-click="setPrize(prize)">
                                <strong>{{prize.name}}</strong>
                                <br />{{prize.sponsor}}
                                <span class="glyphicon glyphicon-plus-sign pull-right" ng-click="addAttendee(member)"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Prizes - End -->
        </div>
    </div>
</div>
