
<h2>Event Registration</h2>

<div class="row">

    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">

                <div style="padding: 10px 0px 10px 0px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a ng-model="eventInputDisplay" btn-radio="'1'" ng-click="eventInputDisplay = 1" data-toggle="tab">Events</a>
                        </li>
                        <li><a ng-model="eventInputDisplay" btn-radio="'2'" ng-click="eventInputDisplay = 2" data-toggle="tab">Create</a>
                        </li>
                    </ul>
                </div>

                <ul class="nav nav-pills nav-stacked storedMeetings" ng-show="eventInputDisplay == 1">
                    <li ng-repeat="event in events" ng-click="selectEvent(event)" ng-class="{$first ? 'active' : ''}">
                        <a data-toggle="tab">{{event.topic}} <br />{{event.date}} - {{event.speaker}}
                        </a>
                    </li>
                </ul>

                <form class="form-horizontal" ng-show="eventInputDisplay == '2'" role="form">
                    <!--                    <fieldset>-->

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="txtfn">Meeting Date</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Meeting Date" value="" ng-model="newEvent.date" />

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="txtln">Speaker</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Speaker" value="" ng-model="newEvent.speaker" />

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="txtem">Topic</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Topic" value="" ng-model="newEvent.topic" />

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="txtem">Location</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Location" value="" ng-model="newEvent.location" />

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-md-offset-4">
                            <button id="btnSave" name="btnSave" class="btn btn-sm btn-success" ng-click="createEvent(newEvent)">Create</button>
                            <button id="btnClear" name="btnClear" class="btn btn-sm btn-warning" ng-click="newEvent = {}">Clear</button>
                        </div>
                    </div>

                    <!--                    </fieldset>-->
                </form>
            </div>
        </div>

    </div>

    <div class="col-md-9">
        <div class="panel panel-default attendees">
            <div class="panel-heading">
                <h3 class="panel-title">Event: {{currentEvent.topic}}</h3>
            </div>
            <div class="panel-body">

                <div class="attendees col-md-6">
                    <div class="btn-group">
                        <label class="btn btn-sm btn-default" ng-model="memberInputDisplay" btn-radio="'1'" ng-click="memberInputDisplay = 1">Members</label>
                        <label class="btn btn-sm btn-default" ng-model="memberInputDisplay" btn-radio="'2'" ng-click="memberInputDisplay = 2">New</label>
                    </div>

                    <form class="form-horizontal" ng-show="memberInputDisplay == '2'">
                        <fieldset>

                            <div class="control-group">
                                <label class="control-label" for="txtfn">First Name</label>
                                <div class="controls">
                                    <input id="txtfn" name="txtfn" type="text" placeholder="First Name" class="input-small" ng-model="newAttendee.firstName">

                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="txtln">Last Name</label>
                                <div class="controls">
                                    <input id="txtln" name="txtln" type="text" placeholder="Last Name" class="input-small" ng-model="newAttendee.lastName">

                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="txtem">Email</label>
                                <div class="controls">
                                    <input id="txtem" name="txtem" type="text" placeholder="Email Address" class="input-medium" ng-model="newAttendee.email">

                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="btnSave"></label>
                                <div class="controls">
                                    <button id="btnSave" name="btnSave" class="btn btn-sm btn-success" ng-click="createAttendee(newAttendee)">Add</button>
                                    <button id="btnClear" name="btnClear" class="btn btn-sm btn-warning" ng-click="newAttendee = {}">Clear</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                    <div ng-show="memberInputDisplay == '1'">

                        <span ng-show="(members|filter:isAttending(currentEvent.attendees)).length == 0">No more members</span>
                        <ul class="list-group members">
                            <li class="list-group-item" ng-repeat="member in (members | filter:isAttending(currentEvent.attendees))">{{member.lastName}}, {{member.firstName}}
                                <span class="glyphicon glyphicon-plus-sign pull-right" ng-click="addAttendee(member)"></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Attending Attendees - Begin -->
                <div class="attendees col-md-6">
                    <span ng-show="currentEvent.attendees.length == 0">No attendees</span>

                    <ul class="list-group attending">
                        <li class="list-group-item" ng-repeat="attendee in currentEvent.attendees">
                            <span class="glyphicon glyphicon-remove-circle" ng-click="removeAttendee(attendee)"></span>
                            {{attendee.lastName}}, {{attendee.firstName}}

                            <span class="pull-right">
							<span class="glyphicon glyphicon-chevron-down" ng-click="adjustEntries(attendee,-1)"></span>
                            <input type="text" ng-model="attendee.entries" style="width: 25px" />
                            <span class="glyphicon glyphicon-chevron-up" ng-click="adjustEntries(attendee,1)"></span>

                            </span>
                        </li>

                    </ul>
                </div>
                <!-- Attending Attendees - End-->
            </div>
        </div>
    </div>
</div>